extends layout

block body
  nav.navbar.fixed-top.navbar-expand-md.navbar-dark.bg-dark.justify-content-between
    a.navbar-brand(href="/") Conch
    .collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")
            i.fa.fa-cogs.mr-2
            span Preferences
          .dropdown-menu.dropdown-menu-right.share-menu.p-4
            form
              .form-check
                input.form-check-input#pref-remember-name(type="checkbox" value="yes")
                label.form-check-label(for="pref-remember-name") Remember My Name
              .form-group
                label(for='pref-conch-pass') Notify when the conch passes...
                select.form-control(id="pref-conch-pass")
                  option(value="all") To everyone
                  option(value="me") To me only
                  option(value="none") Never
              .form-check
                input.form-check-input#pref-sound-notify(type="checkbox" value="yes")
                label.form-check-label(for="pref-sound-notify") Play Notification Sound
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")
            i.fa.fa-share-alt.mr-2
            span Share
          .dropdown-menu.dropdown-menu-right.p-4.share-menu
            .form-group
              label(for='user-key') Participant Link
              input.form-control.share-link(type="text" id="user-key" value=user_key readonly)
            if admin
              .form-group
                label(for='admin-key') Admin Link
                input.form-control.share-link(type="text" id="admin-key" value=admin_key readonly)


  .container
    block content
