doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    block scripts
    script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
    script(src='https://unpkg.com/popper.js/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body(class=bodyClass)
    block body
    footer.footer
      .container-fluid.text-muted.text-center.justify-content-between
        .row
          .col-12.col-lg-4
          .col-12.col-lg-4
            a(href="/") Home
            span.mx-4 |
            a(href="/about") About
            span.mx-4 |
            a(href="/privacy") Privacy
            span.mx-4 |
            a(href="/help") Help
          .col-12.col-lg-4.text-right
            span Donate: 12gnTnDGYcLodS9D7gV3SzMaWNuiGfYBdq
