extends layouts/front_page

block content
  main(role='main')
    .jumbotron
      .container
        .row
          .col
            h1.display-3 Conch
            p Discourage people from talking over top of each other
    .container
      .row.justify-content-md-center
        .col.col-md-6
          form(method='POST' action='/c/new')
            .form-group
              label(for='channel-name') Channel Name
              input.form-control(type='text' id='channel-name' name='channel-name' required)
            .text-center
              button.btn.btn-primary(type='submit') Create Channel
