extends layout

block content
  h1= title
  p Welcome to #{title}
  form(id="nameform")
    input(type="text" id="name")
    button(type="submit") Connect
  hr
  button(id="hand-up") Hand Up
  button(id="hand-down") Hand Down
