extends ../layouts/inner_page

block scripts
  script(src='/javascript/socket.io.js')
  script(src='/javascript/client.js')


block content
  .row
    .col
      h1= title
  .row.justify-content-md-center
    .col.col-md-6
      form(id="nameform")
        .form-group
          label(for='name') Name
          input.form-control(type="text" id="name")
        .text-center
          button.btn.btn-primary.btn-block#connect(type="submit") Connect
        .text-center.d-none
          button.btn.btn-primary.btn-block#disconnect(type="submit" disabled) Disconnect
  hr
  .row.justify-content-md-center
    .col.col-md-4.col-md-offset-4
      button.btn.btn-secondary.btn-block#hand-up(disabled) Hand Up
    .col.col-md-4.col-md-offset-4.d-none
      button.btn.btn-secondary.btn-block#hand-down(disabled) Hand Down
  hr
  .row
    .col-md-6.col-lg-7.order-2.order-md-1
      h2 Users
      ul.users
    .col-md-6.col-lg-5.order-1.order-md-2
      if admin
        .btn-group.d-flex(role="group")
          button.btn.btn-secondary.btn-block#pass-conch(disabled) Pass Conch
          .btn-group(role="group")
            button.btn.btn-secondary.dropdown-toggle#other-actions(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled) Other Actions
            .dropdown-menu.dropdown-menu-right(aria-labelledby="other-actions")
              a.dropdown-item#add-all(href="#") Add All To Queue
              a.dropdown-item#remove-all(href="#") Remove All From Queue
              a.dropdown-item(href="#") Randomize Queue
              .dropdown-divider
              a.dropdown-item#delete-channel(href="#") Delete Channel
      .card
        .card-body
          h5 Conch Holder
          div
            span.conch-holder
              em None
            span.timer
          h5 Queue
          ol.queue
