extends ../layouts/inner_page

block scripts
  script(src='/javascript/socket.io.js')
  script(src='/javascript/client.js')


block content
  .row
    .col
      h1= title
      p Welcome to #{title}
  .row.justify-content-md-center
    .col.col-md-6
      form(id="nameform")
        .form-group
          label(for='name') Name
          input.form-control(type="text" id="name")
        .text-center
          button.btn.btn-primary.btn-block(type="submit") Connect
  hr
  .row.justify-content-md-center
    .col.col-md-3.col-md-offset-3
      button.btn.btn-secondary.btn-block(id="hand-up") Hand Up
    .col.col-md-3.d-none
      button.btn.btn-secondary.btn-block(id="hand-down") Hand Down
    .col.col-md-3
      button.btn.btn-secondary.btn-block(id="pass-conch") Pass Conch
  hr
  .row
    .col
      h2 Conch Holder
      .conch-holder
      .timer
  .row
    .col-6
      h2 Users
      ul.users
    .col-6
      h2 Queue
      ol.queue
    
