extends ../layouts/front_page

block content
  main(role='main')
    .jumbotron.bg-dark.text-light
      .container
        .row
          .col
            h1.display-3= title
    .container
      .row
        .col
          ul
            li I got bored one day. I made this.
            li
              span Notification sound source:&nbsp;
              a(href="https://notificationsounds.com/message-tones/filling-your-inbox-251") https://notificationsounds.com/message-tones/filling-your-inbox-251
              span , licensed under Creative Commons Attribution 4.0 International Public License

